# In-class exercise Feb 14: Statistical analysis with iris data

In [2]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')

## 1.	Basic Exploration:
* Display the first 5 rows of the dataset.

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

* Display the summary statistics of the dataset using describe().

In [4]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## 2.	Mean, Median, and Mode:
* Calculate the mean of the 'sepal_length'.

In [5]:
print(iris['sepal_length'].mean())

5.843333333333334

* Find the median of 'sepal_width'.

In [6]:
print(iris['sepal_width'].median())

3.0

* Determine the mode of 'species'.

In [7]:
print(iris['species'].mode())

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

## 3.	Variance and Standard Deviation:
* Compute the variance of 'petal_length'.

In [8]:
print(iris['petal_length'].var())

3.1162778523489942

* Calculate the standard deviation of 'petal_width'.

In [9]:
print(iris['petal_width'].std())

0.7622376689603465

## 4.	Skewness and Kurtosis:
* Find the skewness of the entire dataset.

In [10]:
col= iris.select_dtypes(include=['float64'])
print(col.skew())

sepal_length    0.314911
sepal_width     0.318966
petal_length   -0.274884
petal_width    -0.102967
dtype: float64

* Determine the kurtosis of the 'sepal_length'.

In [11]:
print(iris['sepal_length'].kurtosis())

-0.5520640413156395

## 5.	Quantiles:
* Calculate the 25th, 50th, and 75th percentiles of 'petal_length'.

In [12]:
petal_length_percentiles = iris['petal_length'].quantile([0.25, 0.5, 0.75])
petal_length_percentiles

0.25    1.60
0.50    4.35
0.75    5.10
Name: petal_length, dtype: float64