## 1	Explore inner join; outer join; left join and right join respectively.

In [1]:
import pandas as pd

data1={
    'studentid':[1,2,3,4],
    'name':['Alice','Bob','Charlie','David'],
}

df1=pd.DataFrame(data1)

data2={
    'studentid':[3,4,5,6],
    'grade':['A','B','C','D']
}

df2=pd.DataFrame(data2)

In [2]:
#Inner Join

print(pd.merge(df1, df2))

   studentid     name grade
0          3  Charlie     A
1          4    David     B

In [3]:
# Outer Join

print(pd.merge(df1, df2, how='outer'))

   studentid     name grade
0          1    Alice   NaN
1          2      Bob   NaN
2          3  Charlie     A
3          4    David     B
4          5      NaN     C
5          6      NaN     D

In [8]:
# Left

print(pd.merge(df1,df2,how="left"))

   studentid     name grade
0          1    Alice   NaN
1          2      Bob   NaN
2          3  Charlie     A
3          4    David     B

In [7]:
# Right

print(pd.merge(df1,df2,how="right"))

   studentid     name grade
0          3  Charlie     A
1          4    David     B
2          5      NaN     C
3          6      NaN     D

## 2	Create a dataframe

* Group the data by 'Salesperson' and calculate the total 'Quantity' sold by each salesperson.
* Group the data by 'Product' and find the average 'Quantity' sold.

In [10]:
data = {
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Product': ['Widget', 'Widget', 'Gadget', 'Gadget', 'Widget', 'Gadget'],
    'Quantity': [4, 2, 3, 5, 6, 1]
}
df = pd.DataFrame(data)

In [13]:
#Group the data by 'Salesperson' and calculate the total 'Quantity' sold by each salesperson.

sp= df.groupby('Salesperson')
summ=sp['Quantity'].sum()
print(summ)

Salesperson
Alice      9
Bob        8
Charlie    4
Name: Quantity, dtype: int64

In [14]:
# Group the data by 'Product' and find the average 'Quantity' sold.
pr=df.groupby('Product')
avg=pr['Quantity'].mean()
print(avg)

Product
Gadget    3.0
Widget    4.0
Name: Quantity, dtype: float64