In-class exercise
Exercise 1:

In [51]:
import pandas as pd
data={
    'Name':['Alice','Bob','Charlie','David','Eva'],
    'Age':[23,35,45,36,28],
    'City':['New york','Los Angeles','Chicago','Houston','Phoneix']
}
df=pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   23     New york
1      Bob   35  Los Angeles
2  Charlie   45      Chicago
3    David   36      Houston
4      Eva   28      Phoneix

In [52]:
# select the row with index 2 using iloc[]

print(df.iloc[2])

Name    Charlie
Age          45
City    Chicago
Name: 2, dtype: object

In [53]:
#Select the Age column using iloc[]

print(df.iloc[:,1])

0    23
1    35
2    45
3    36
4    28
Name: Age, dtype: int64

In [54]:
#select the first three rows using iloc[] slicing

print(df.iloc[0:3])

      Name  Age         City
0    Alice   23     New york
1      Bob   35  Los Angeles
2  Charlie   45      Chicago

In [55]:
#Select the 'Name' and 'City' columns for the first three rows using iloc[]
print(df.iloc[:3, [0, 2]])

      Name         City
0    Alice     New york
1      Bob  Los Angeles
2  Charlie      Chicago

In [56]:
#select row for Charlie using iloc[]
print(df.loc[2])

Name    Charlie
Age          45
City    Chicago
Name: 2, dtype: object

In [57]:
# Select the Age column using loc[]
print(df.loc[:,'Age'])

0    23
1    35
2    45
3    36
4    28
Name: Age, dtype: int64

In-class exercise

Exercise 2:

In [62]:
import pandas as pd
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Age': [23, 35, 45, 36, 28],
'City': ['New York','Los Angeles','Chicago','Houston','Phoenix']
}
df = pd.DataFrame(data) 
print(df)

      Name  Age         City
0    Alice   23     New York
1      Bob   35  Los Angeles
2  Charlie   45      Chicago
3    David   36      Houston
4      Eva   28      Phoenix

In [63]:
#select rows where age is greater than 30 using loc
print(df.loc[df['Age'] > 30])

      Name  Age         City
1      Bob   35  Los Angeles
2  Charlie   45      Chicago
3    David   36      Houston

In [64]:
# Select the rows where city is either chicago or Houston using iloc
print(df.loc[df['City'] == 'Houston'])

    Name  Age     City
3  David   36  Houston

In [67]:
# change the index of the dataframe to be the name of the column and use loc to select david

df.set_index('Name',inplace=True)
print(df.loc['David'])

Age          36
City    Houston
Name: David, dtype: object

In [68]:
# Select age and city columns for bob and eva using loc[]
print(df.loc[['Bob', 'Eva'], ['Age', 'City']])

      Age         City
Name
Bob    35  Los Angeles
Eva    28      Phoenix

In-class exercise
Exercise 3:

In [71]:
import pandas as pd
data = {
'Product': ['Apple', 'Banana', 'Carrot', 'Doughnut', 'Egg'], 'Price': [0.5, 0.3, 0.4, 1.0, 0.2],
'In Stock': [True, True, False, True, False]
}
df1 = pd.DataFrame(data) 
print(df1)

    Product  Price  In Stock
0     Apple    0.5      True
1    Banana    0.3      True
2    Carrot    0.4     False
3  Doughnut    1.0      True
4       Egg    0.2     False

In [81]:
#select the products that are instock using loc
print(df1.loc[df1['In Stock'] > 0, :])

    Product  Price  In Stock
0     Apple    0.5      True
1    Banana    0.3      True
3  Doughnut    1.0      True

In [89]:
print(df1.loc[df1['Price'] < 0.5])

  Product  Price  In Stock
1  Banana    0.3      True
2  Carrot    0.4     False
4     Egg    0.2     False

In [92]:
np = df1.loc[df1['In Stock'] == 0, ['Product', 'Price']]
print(np)

  Product  Price
2  Carrot    0.4
4     Egg    0.2